// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
// Active Admin's got SASS!
@import "active_admin/mixins";
@import 'activeadmin/quill_editor/quill.snow';
@import 'activeadmin/quill_editor_input';
@import "arctic_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


.member_link  {
  background-color: orange !important;
}

.table_actions{
	color: orange
}
.header .site_title, .header #utility_nav{
	background-color: #32A2DB57 !important;
}

.header #tabs {
	background-color: #32A2DB57 !important;
}
.header #tabs li.current a {
    color: #353637 !important;
    background-color: #32A2DB57;
    font-weight: bolder;
}
.ui-tabs-panel .col{
	padding: 8px !important;
}

.column .panel {
	background-color: #6F99C3;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
}

#about_us_description_input .inline-errors {
    padding-left: 0%;
}

#about_us_description_input .label {
	padding-right: 167px;
	padding-bottom: 25px;
}

#how_we_work_description_input .label {
	padding-right: 167px;
	padding-bottom: 25px;
}

#privacy_policy_description_input .label {
	padding-right: 167px;
	padding-bottom: 25px;
}

#bx_block_termsandconditions_terms_and_condition_description_input .label {
	padding-right: 167px;
	padding-bottom: 25px;
}