// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
// Active Admin's got SASS!
@import "active_admin/mixins";
@import 'activeadmin/quill_editor/quill.snow';
@import 'activeadmin/quill_editor_input';
@import "arctic_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


.member_link {
  background-color: #32A2DB57 !important;
}


.header .site_title, .header #utility_nav{
	background-color: #32A2DB57 !important;
}

.header #tabs {
	background-color: #32A2DB57 !important;
}
.header #tabs li.current a {
    color: #353637 !important;
    background-color: #32A2DB57;
    font-weight: bolder;
}
.ui-tabs-panel .col{
	padding: 8px !important;
}

.column .panel {
	background-color: #6F99C3;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
}