<!DOCTYPE html>
<html lang="EN" xml:lang="en">
  <head>
  	<title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <strong><h1>Forgot Password Link </h1></strong>

    <h3>URL : <a href= "<%= @url %>" > Click here </a> </h3>  
    
    <p>Thank you for valuable Time</p>
  </body>
</html>