<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <b><h1>Forgot Password Link </h1></b>

    <h3>URL : <a href= "<%= @url %>" > Click here </a> </h3>  
    
    <p>Thank you for valuable Time</p>
  </body>
</html>